---
import {Image} from 'astro:assets'
import seo_img from '../assets/res.webp'
import webdev_img from '../assets/webdev.webp'
import expla_img from '../assets/expla.webp'
import webdes_img from '../assets/webdes.webp'
---

<section id="tecnologias" class="bg-white text-zinc-900 pb-40 md:px-20 px-8 mx-auto flex flex-col justify-center items-center ">
    <div class="pt-8 m-auto md:hidden">
        <h2 class="text-3xl font-semibold text-center">Servicios</h2>
    </div>
    <div class="w-full flex flex-wrap xl:flex-nowrap flex-col md:flex-row mx-auto md:px-20 md:pt-10  gap-10 pt-2 pb-20 items-baseline justify-center ">
        <div  class="flex-col flex items-center justify-center" >
        <Image src={webdev_img} alt="imagen desarrollo web" class='md:w-72 w-9/12 rounded-full my-8 shadow-lg' />        
           <h4 class="font-bold text-center text-xl  pb-4">Desarrollo Web</h4> 
           <p class="pa text-center lg:text-left" >Implementación de aplicaciones web estaticas e interactivas, cuidando siempre el rendimiento y la accesibilidad de la página y aplicando buenas practicas de SEO para que tus potenciales clientes te encuentren rápidamente al googlearte.</p>
        </div >
        <div class="flex-col flex items-center justify-center">
        <Image src={webdes_img} alt="imagen diseño web" class='md:w-72 w-9/12 rounded-full my-8 shadow-lg' />        
           <h4 class="font-bold text-center text-xl  pb-4">Diseño UX/UI</h4> 
           <p class="pa text-center lg:text-left" >En caso de no contar con un diseño previo, intentaré diseñar la mejor página posible basandome en tu identidad de marca, priorizando que los usuarios tengan la mejor experiencia con una interfaz limpia y agradable. </p>
        </div>
        <div class="flex-col flex items-center justify-center" >
        <Image src={expla_img} alt="imagen guia a cliente" class='md:w-72 w-9/12 rounded-full my-8 shadow-lg ' />        
           <h4 class="font-bold text-center text-xl  pb-4">Orientación web</h4> 
           <p  class="pa text-center lg:text-left" >Te guiaré durante todos los procesos relacionados a tu presencia online, por ejemplo, en tu elección de hosting web o en como adquirir un dominio personalizado para tu marca.</p>
        </div>
    </div>
    <div class="mt-20">
        <Image src={seo_img} alt="SEO y rendimientos optimizados" class='w-screen md:w-full ' />        
        <p class="text-center pt-4 ">Resultados de esta misma página al ser analizada en PageSpeed de Google</p>
    </div>
</section>

<style>
    .pa{
        max-width: 38ch;
    }
</style>