---
import techs from "../data/technologies.json";
---

<section id="tecnologias" class="bg-white text-zinc-900 pb-40 mt-20">
  <div class="px-20 pt-20 m-auto">
    <h2 class="text-3xl font-semibold text-center">Tecnologias</h2>
  </div>
  <p class="pa py-8 m-auto px-8 text-zinc-700 " >
    Como desarrollador y diseñador web, mi caja de herramientas está compuesta
    de tecnologías potentes que utilizo para crear experiencias digitales
    excepcionales.
    <br>
    Estoy comprometido con el aprendizaje continuo y la
    exploración de nuevas tecnologías emergentes, esto me permite brindar
    soluciones actualizadas y vanguardistas que se mantienen al ritmo de las
    tendencias cambiantes y las demandas del mercado.
  </p>

  <div id="techcontainer">
    {
      techs.map((tech) => (
        <>
          <div class="hidden1 flex gap-8 md:gap-20 m-auto px-8 md:px-20 py-8 justify-center max-w-full items-center mb-14 flex-col md:flex-row text-center md:text-left">
            <img
              loading="lazy"
              class="w-full md:w-96"
              src={tech.img}
              alt={tech.alt}
            />
            <div class="flex flex-col gap-4">
              <h3 class="text-2xl font-medium ">{tech.title}</h3>
              <p class="text-left">{tech.body}</p>
            </div>
          </div>
          <div class=" hidden2 flex gap-8 md:gap-20 m-auto px-8 md:px-20 py-8 justify-center max-w-full items-center mb-14 flex-col md:flex-row-reverse text-center md:text-left">
            <img
              loading="lazy"
              class="w-full md:w-96"
              src={tech.img2}
              alt={tech.alt2}
              width="384"
            />
            <div class="flex flex-col gap-4">
              <h3 class="text-2xl font-medium ">{tech.title2}</h3>
              <p class="text-left">{tech.body2}</p>
            </div>
          </div>
        </>
      ))
    }
  </div>
</section>
<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      }
      //entry.target.classList.toggle('show', entry.isIntersecting);
    });
  });
  const sectionleft = document.querySelectorAll(".hidden1");
  const sectionright = document.querySelectorAll(".hidden2");

  sectionleft.forEach((section) => observer.observe(section));
  sectionright.forEach((section) => observer.observe(section));
</script>

<style>
  p {
    max-width: 50ch;
  }
  .pa{
    max-width: 110ch;
  }
  .hidden1 {
    opacity: 0;
    transition: all 1s;
    filter: blur(4px);
    transform: translateX(-100%);
  }
  .hidden2 {
    opacity: 0;
    transition: ease all 1s;
    filter: blur(4px);
    transform: translateX(100%);
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
  }

  @media (prefers-reduced-motion) {
    .hidden1 {
      transition: none;
    }
    .hidden2 {
      transition: none;
    }
  }
</style>
